@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);


#containerpaiementvisiteur {
    background: rgb(254, 254, 254); 
  border: solid 3px black;
  max-width: 40%;
  margin: 60px auto;
  position: relative;
}

.formee {
  padding: 4%;
  margin: 2%;
}

#h1paiementvisiteur {
    font-family: Arial, Helvetica, sans-serif !important;
    padding-top: 3%;
  color: black;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}

.icon_wrapperpaiementvisiteur {
  margin: 50px auto 0;
  width: 100%;
}

.iconpaiementvisiteur {
  display: block;
  fill: #474544;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}

.emailpaiementvisiteur {
	float: right;
	width: 45%;
}
#separation{
    
    padding-top: 20%;
}
  #email_input, #name_input , #telephone_input {
    outline:  none;
	background: none;
    border: none;
	border-bottom: solid 2px black;
	color: black;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.namepaiementvisiteur {
	float: left;
	width: 45%;
}
.submitpaiementvisiteur{
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.telephonepaiementvisiteur {
  width: 100%;
}

.radiopaiementvisiteur{
    padding-left: 3%;
}
#form_buttonpaiementvisiteur {
  background: none;
  border: solid 2px #474544;
  color: #474544;
  cursor: pointer;
  display: inline-block;
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  outline: none;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_buttonpaiementvisiteur:hover {
  background: #474544;
  color: #F2F3EB;
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
    #h1paiementvisiteur {
    font-size: 26px;
  }

  
  #form_buttonpaiementvisiteur {
    padding: 15px 25px;
  }
}
@media screen and (max-width: 420px) {
    #h1paiementvisiteur {
    font-size: 18px;
  }
  
  .iconpaiementvisiteur {
    height: 35px;
    width: 35px;
  }
  
  .underline {
    width: 53px;
  }
  
  #email_input, #name_input , #telephone_input, select {
    font-size: 0.875em;
  }
}